In [1]:
import sys
!conda install --yes --prefix  {sys.prefix} anaconda scikit-learn
!conda install --yes --prefix  {sys.prefix} seaborn
!conda install --yes --prefix  {sys.prefix} pandas-profiling

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/sbahri/opt/anaconda3

  added / updated specs:
    - anaconda
    - scikit-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.1                |           py37_0         2.8 MB
    ------------------------------------------------------------
                                           Total:         2.8 MB

The following packages will be UPDATED:

  conda                                        4.8.0-py37_1 --> 4.8.1-py37_0



Downloading and Extracting Packages
conda-4.8.1          | 2.8 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
^C

CondaError: KeyboardInterrupt

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns


df = pd.read_csv("https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv")

df.head(10)

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708

In [ ]:
#glimpsed visualiastion

plt.figure(figsize=(10, 8))
print("Pairplot all variables")
sns.pairplot(df, kind = "scatter", hue = "Survived", plot_kws={'alpha':0.4})
plt.show()

In [3]:
#data transformation 

df = df.drop(['Name'], axis=1)

df.head(5)

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500

In [37]:
#

df['Siblings/Spouses Aboard'].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [4]:
#hot encoding sex

from sklearn.preprocessing import LabelEncoder 

le = LabelEncoder()

df['Sex'] = le.fit_transform(df['Sex'])

df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,0,38.0,1,0,71.2833
2,1,3,0,26.0,0,0,7.9250
3,1,1,0,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500

In [11]:
#split data
from sklearn.model_selection import train_test_split

#separate y from x data set
x = df.drop('Survived', axis = 1)
y = df['Survived']


#split data using sklearn.model_selection
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 30)

**Model Generation**

In [44]:
#model generation

from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [13]:
#randomforest
rfc = RandomForestClassifier(n_estimators = 200)
rfc.fit(x_train, y_train)
pred_rfc = rfc.predict(x_test)

In [23]:
#SVM Classifier

clf = svm.SVC(gamma = 'auto')
clf.fit(x_train, y_train)
pred_clf = clf.predict(x_test)

In [15]:
#neural networks

mlpc = MLPClassifier(hidden_layer_sizes=(6, 6, 6), max_iter = 500)
mlpc.fit(x_train, y_train)
pred_mlpc = mlpc.predict(x_test)

In [16]:
#report generation

rf_score = accuracy_score(y_test, pred_rfc)
svm_score = accuracy_score(y_test, pred_clf)
mlpc_score = accuracy_score(y_test, pred_mlpc)

print("random forest accuracy score: {}\nsvm accuracy score: {}\nneural networks accuracy score:{}".
     format(rf_score, svm_score, mlpc_score))

random forest accuracy score: 0.8127340823970037
svm accuracy score: 0.704119850187266
neural networks accuracy score:0.7228464419475655

**Optimisation**

In [17]:
from sklearn.preprocessing import StandardScaler 

#standart scaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

**Retrain model**

In [18]:
#rfc

rfc.fit(x_train, y_train)
pred_rfc_2 = rfc.predict(x_test)

In [19]:
#svm 

clf.fit(x_train, y_train)
pred_clf_2 = clf.predict(x_test)

In [20]:
#neural networks

mlpc.fit(x_train, y_train)
pred_mlpc_2 = mlpc.predict(x_test)

/Users/sbahri/opt/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [24]:
#accuracy report
rf_score_2 = accuracy_score(y_test, pred_rfc)
svm_score_2 = accuracy_score(y_test, pred_clf)
mlpc_score_2 = accuracy_score(y_test, pred_mlpc)

print("random forest accuracy score: {}\nsvm accuracy score: {}\nneural networks accuracy score:{}".
     format(rf_score_2, svm_score_2, mlpc_score_2))

random forest accuracy score: 0.8127340823970037
svm accuracy score: 0.7940074906367042
neural networks accuracy score:0.7228464419475655

In [38]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
logreg_predictions = logreg.predict(x_test)

logreg_score = accuracy_score(y_test, pred_mlpc)

logistic regression score:0.7228464419475655

/Users/sbahri/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [43]:
print("random forest accuracy score: {}\nsvm accuracy score: {}\nneural networks accuracy score:{}\nlogistic regression score:{}".
      format(rf_score_2, svm_score_2, mlpc_score_2, logreg_score))

random forest accuracy score: 0.8127340823970037
svm accuracy score: 0.7940074906367042
neural networks accuracy score:0.7228464419475655
logistic regression score:0.7228464419475655

In [45]:
#k nearest negihbor
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(x_train, y_train)
pred_knn = knn.predict(x_test)

In [46]:
#gaussian naive bayes

gaussian = GaussianNB()
gaussian.fit(x_train, y_train)
pred_gauss = gaussian.predict(x_test)

In [48]:
#preceptron

precept = Perceptron()
precept.fit(x_train, y_train)
pred_precept = precept.predict(x_test)

In [49]:
#sthocastic gradient descent

sgd = SGDClassifier()
sgd.fit(x_train, y_train)
pred_sgd = sgd.predict(x_test)

In [50]:
#decision tree

dstree = DecisionTreeClassifier()
dstree.fit(x_train, y_train)
pred_dstree = dstree.predict(x_test)

In [51]:
#score

knn_score = accuracy_score(y_test, pred_knn)
gaussian_score = accuracy_score(y_test, pred_gauss)
precept_score = accuracy_score(y_test, pred_precept)
sgd_score = accuracy_score(y_test, pred_sgd)
ds_score = accuracy_score(y_test, pred_dstree)

In [52]:
modelResult = pd.DataFrame({
    'Model': ['Random Forest', 'SVM Classifier', 'Neural Networks', 'K Nearest Neighbor',
              'Gaussian Naive Bayes', 'Preceptron', 'Stochastic Gradient Descent', 
              'Decision Tree'
    ],
    'Score': [rf_score, svm_score, mlpc_score, knn_score, gaussian_score,
              precept_score, sgd_score, ds_score]
})

modelResult.sort_values(by = 'Score', ascending = False)

                         Model     Score
0                Random Forest  0.812734
7                Decision Tree  0.786517
3           K Nearest Neighbor  0.782772
5                   Preceptron  0.775281
4         Gaussian Naive Bayes  0.756554
6  Stochastic Gradient Descent  0.745318
2              Neural Networks  0.722846
1               SVM Classifier  0.704120